<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <add name="EJewelEntities" connectionString="metadata=res://*/EJewelEntity.csdl|res://*/EJewelEntity.ssdl|res://*/EJewelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=ejmdb;User ID=myadmin;Password=Pass@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EJewelEntities" connectionString="metadata=res://*/EJewelEntity.csdl|res://*/EJewelEntity.ssdl|res://*/EJewelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SOFT-PC;Initial Catalog=ejmdb;User ID=sa;Password=su;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
