<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EJewel.AdminView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ejewelEntitiesDAL1" connectionString="data source=SOFT-PC;Initial Catalog=ejewel;User ID=sa;Password=su" />-->

    
    <!--<add name="ejewelEntitiesDAL1" connectionString="data source=IDCSQL2.znetlive.com,1234;Initial Catalog=ejewel;User ID=myadmin;Password=Fascinating@123" />

  <add name="ejewelEntitiesDAL" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=ejewel;User ID=myadmin;Password=Fascinating@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
   
    
    
    <add name="EJewelEntities" connectionString="metadata=res://*/EJewelEntity.csdl|res://*/EJewelEntity.ssdl|res://*/EJewelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=ejewel;User ID=myadmin;Password=Fascinating@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->


    <!--<add name="ejewelEntitiesDAL" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SOFT-PC;Initial Catalog=ejewel;User ID=sa;Password=su;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->



    <add name="EJewelEntities" connectionString="metadata=res://*/EJewelEntity.csdl|res://*/EJewelEntity.ssdl|res://*/EJewelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=ejmdb;User ID=myadmin;Password=Pass@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EJewelEntities" connectionString="metadata=res://*/EJewelEntity.csdl|res://*/EJewelEntity.ssdl|res://*/EJewelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SOFT-PC;Initial Catalog=ejmdb;User ID=sa;Password=su;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  
  
  
  </connectionStrings>
  <appSettings>
   
   
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <!--Session Time out-->
    <sessionState mode="InProc" cookieless="false" timeout="120">
    </sessionState>

    <!--Forms Authentication-->
    <authentication mode="Forms">

      <forms loginUrl="Default.aspx" ></forms>
    </authentication>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EJewel.AdminView.Properties.Settings>
      <setting name="EJewel_AdminView_com_rapaport_technet_RapNetInventoryLink"
        serializeAs="String">
        <value>https://technet.rapaport.com/WebServices/Feeds/RapNetInventoryLink.asmx</value>
      </setting>
    </EJewel.AdminView.Properties.Settings>
  </applicationSettings>
</configuration>
